// <ЗАДАЧИ>==================================
// !посмотреть видео фрилансера+внедрить в проект
// </ЗАДАЧИ>=================================

// <IMPORT>==================================
// </IMPORT>=================================

// <FONT-FAMILY>=============================

$ff-Open-Sans: 'Open-Sans', sans-serif;
$ff-Banny: 'Banny', sans-serif;
// </FONT-FAMILY>============================

// <ПЕРЕМЕННЫЕ>==============================
$color-white: #fff;
$color-black: #000;
$color-yellow: #E8C300;
// </ПЕРЕМЕННЫЕ>=============================

// <ОБЩИЕ ПАРАМЕТРЫ>=========================

// </ОБЩИЕ ПАРАМЕТРЫ>========================
.header{
   width: 100%;
   position: absolute;
   z-index: 10;
   top: 0;
   left: 0;
   color: $color-white;
   background-color: transparent;
   &__body{
      .menu__list{
         min-height: 175px;
         display: flex;
         justify-content: space-between;
         align-items: flex-start;
         position: relative;
         &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 57%;
            width: 41.5%;
            height: 1px;
            background-color: rgba(255, 255, 255, .2);
         }
         &::after{
            content: '';
            position: absolute;
            right: 0;
            top: 57%;
            width: 41.5%;
            height: 1px;
            background-color: rgba(255, 255, 255, .2);
         }
         li{
            width: 100%;
         }
      }
      .menu__link{
         width: 100%;
         line-height: 100px;
         text-transform: uppercase;
         text-align: center;
         font-weight: 700;
         font-size: 12px;
         transition: background .3s ease-in-out 0s;
         &--padding-right{
            padding-right: 110px;
         }
         &--padding-left{
            padding-left: 110px;
         }
         &:hover{
            background-color: rgba(255, 255, 255, .2);
         }
      }
      .menu__logo{
         position: absolute;
         bottom: 0;
         left: 50%;
         z-index: 1;
         transform: translateX(-50%);
      }
   }
   &__logo{
      position: relative;
      z-index: 10;
      background-color: transparent;
      padding: 0 35px;
   }
   .menu__icon{
      display: none;
   }
   .menu__mobile{
      display: none;
   }
}




// <MEDIA>===================================
@media screen and (max-width: 1200px) {
   
}
@media screen and (max-width: 991px) {
   .header{
      &__body{
         position: relative;
      }
      .menu__logo{
         left: 0;
         transform: translateX(0);
      }
      .menu__list{
         align-items: center;
         justify-content: flex-end;
         &::before,
         &::after{
            display: none;
         }
         li{
            display: none;
         }
      }
      .menu__icon{
         z-index: 5;
         display: block;
         position: relative;
         width: 30px;
         height: 18px;
         &::before,
         &::after,
         & span{
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            transition: all .3s ease-in-out 0s;
            background-color: #fff;
         }
         &::before,
         &::after{
            content: '';
         }
         & span{
            top: 50%;
            transform: scale(1) translateY(-50%);
         }
         &::after{
            bottom: 0;
         }
         &.active::before{
            top: 50%;
            transform: rotate(-45deg) translateY(-50%);
         }
         &.active span{
            transform: scale(0);
         }
         &.active::after{
            bottom: 50%;
            transform: rotate(45deg) translateY(50%);
         }
      }
      .menu__mobile{
         padding: 150px 0 70px 0;
         display: block;
         overflow: auto;
         position: fixed;
         top: 0;
         left: -100%;
         z-index: 4;
         background-color: rgb(54, 51, 51);
         width: 100%;
         height: 100%;
         transition: left .3s ease-in-out 0s;
         &.active{
            left: 0;
         }
      }
      .menu__list-mobile{
         li{
            background-color: rgb(54, 51, 51);
            border-bottom: 1px solid #000;
            &:first-child{
               border-top: 1px solid #000;
            }
         }
      }
      .menu__link-mobile{
         font-size: 22px;
         width: 100%;
         line-height: 100px;
         text-transform: uppercase;
         text-align: center;
         font-weight: 700;
      }
   }
}
@media screen and (max-width: 450px) {
   
}
// </MEDIA>==================================